---
layout: default
---

<div class="home">
    <table class="posts">
      {% for post in site.posts %}
      <tr>
	<td class="game-link">
	  <span class="post-date">{{ post.date | date: "%b %-d, %Y" }}</span>
	  <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
	  <br>
	  <a href="{{ post.url | prepend: site.baseurl }}"><img class="post-picture" src="{{ post.url | prepend: site.baseurl }}/picture.png"></a>
	</td>
	<td class="ad">
	  {% include front_ad.html %}
	</td>
      </tr>
      {% endfor %}
    </table>








    <!--div class="row">
      <div class="col-xs-6">
	<ul class="posts">
	  {% for post in site.posts %}
	  <li>
            <span class="post-date">{{ post.date | date: "%b %-d, %Y" }}</span>
            <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
	    <br>
	    <a href="{{ post.url | prepend: site.baseurl }}"><img class="post-picture" src="{{ post.url | prepend: site.baseurl }}/picture.png"></a>
	  </li>
	  {% endfor %}
	</ul>
      </div>

      <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
      <!-- Front Page I >
      <ins class="adsbygoogle" style="display:inline-block;width:300px;height:250px;float:right" data-ad-client="ca-pub-6767653445055517" data-ad-slot="6574326585"></ins>
      <script>
       (adsbygoogle = window.adsbygoogle || []).push({});
      </script>

    </div-->
    <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>
  </div>
</div>
