---
layout: default
---
<div class="home">
    <table class="posts">
      {% for post in site.posts %}
      <tr>
	<td class="game-link">
	  <span class="post-date">{{ post.date | date: "%b %-d, %Y" }}</span>
	  <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
	  <br>
	  <a href="{{ post.url | prepend: site.baseurl }}"><img class="post-picture" src="{{ post.url | prepend: site.baseurl }}/picture.png"></a>
	</td>
	<td class="ad">
	  {% include front_ad.html %}
	</td>
      </tr>
      {% endfor %}
    </table>
    <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>
  </div>
</div>
